html{
    font-family: 'Lato', sans-serif;
}

.row{
    display:flex ;
    width: 100%;
 }
 
 .col{
   width:50% ;
 
 }



 .row div > h2 {
    text-align: center;
    text-transform: uppercase;
    }

   

.row div > img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .row div > h3{
    text-align: center;
    text-transform: capitalize;

}


  .row div > h4{
    text-align: center;
    text-transform: capitalize;

}

.row div > h5{
    text-align: center;
    text-transform: capitalize;

}


.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
      text-align: center;
  }
  .container img {
      margin: auto;
      float: none;
      display: block;
  }
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h1{
color: rgb(0, 0, 0);
text-align: center;
border-style: solid;
text-transform: uppercase;
}


/***Banner style*/
.Banner{
width: 50%;
height: 50%;
}
